<p id="notice"><%= notice %></p>

<div class="container">
  <p>
    <strong>Nombre del Grupo:</strong>
    <%= @group.name %>
  </p>

  <p>
    <strong>Miembros:</strong>
    <%= @group.members %>
  </p>

  <p>
    <strong>Último Concierto:</strong>
    <%= @group.last_concert %>
  </p>

  <p>
    <strong>Cantidad total de personas:</strong>
    <%= @group.max_people %> 
  </p>

  <p>
    <strong>Tiempo del Concierto:</strong>
    <%= @group.max_duration %>  minutos
  </p>

  <p>
    <strong>Tipo de Banda:</strong>
    <%= @group.membersgender %>
  </p>
  <%= link_to 'Edit', edit_group_path(@group) %> |
  <%= link_to 'Back', groups_path %>

</div>


