<%= form_with(model: concert, local: true) do |form| %>
  <% if concert.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(concert.errors.count, "error") %> prohibited this concert from being saved:</h2>

      <ul>
        <% concert.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :public, "Asistentes" %>
    <%= form.number_field :public %>
  </div>


  <div class="field">
    <%= form.label :duration, "Duración" %>
    <%= form.number_field :duration %>
  </div>

  <div class="field">
    <%= form.label :concert_date, "Fecha del Concierto" %>
    <%= form.date_select :concert_date %>
    
  </div>

  <div class="field">
    <%= form.label :group, "Grupo" %>
      <select name="concert[group_id]">
      <%  @groups.each do |group| %>
        <option value="<%= group.id %>"><%= group.name %></option>
    <% end %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
