<p id="notice"><%= notice %></p>

<h1>Concerts</h1>

<table class="table mt-4">
  <thead class="table table-dark">
    <tr>
      <th class="text-center">Public</th>
      <th class="text-center">Duration</th>
      <th class="text-center">Concert date</th>
      <th class="text-center">Group</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @concerts.each do |concert| %>
      <tr>
        <td class="table-success"><%= concert.public %> personas</td>
        <td class="text-center"><%= concert.duration %> minutos</td>
        <td class="text-center"><%= concert.concert_date %></td>
        <td class="text-center"><%= concert.group.name %></td>
        <td><%= link_to 'Show', concert %></td>
        <td><%= link_to 'Edit', edit_concert_path(concert) %></td>
        <td><%= link_to 'Destroy', concert, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
<%= link_to 'Back to Group', root_path %><br>
<%= link_to 'New Concert', new_concert_path %>
